<template>
    <div class="search">
        <div class="search_general">
            <form class="search__form" @submit.prevent="search">
                <div v-if="!isSearchByText" class="search__form_wrapper">
                    <select v-model="selected_city" class="search__form_select select">
                        <option v-for="option in options_city" 
                            :key='option.value' 
                            :value="option.value"
                        >
                            {{ option.text }}
                        </option>
                    </select>
                    <select v-model="selected_action" class="search__form_select select">
                        <option v-for="option in options_action" 
                            :key='option.value' 
                            :value="option.value"
                        >
                            {{ option.text }}
                        </option>
                    </select>
                    <select v-model="selected_realty" class="search__form_select select">
                        <option v-for="option in options_realty" 
                            :key='option.value' 
                            :value="option.value"
                        >
                            {{ option.text }}
                        </option>
                    </select>
                    <button type="submit" class="search__form_btn btn">Найти</button>
                </div>
                <div v-else class="search__form_wrapper">
                    <input 
                        type="text"
                        placeholder="Введите название объекта (бизнес-центра, торгового центра, новостройки, логопарка)" 
                        v-model="input_serch" 
                        class="search__form_input input">
                    <button type="submit" class="search__form_btn btn">Найти</button>
                </div>
                
                <div v-if="isOpenPrice && !isSearchByText" class="search__extra search__extra_price">
                    <input 
                        type="text"
                        placeholder="От" 
                        v-model="price.from" 
                        class="search__extra_input input">
                    <input 
                        type="text"
                        placeholder="До" 
                        v-model="price.to" 
                        class="search__extra_input input">
                    <select v-model="selected_price" class="search__extra_select select">
                        <option v-for="option in options_price" 
                            :key='option.value' 
                            :value="option.value"
                        >
                            {{ option.text }}
                        </option>
                    </select>
                    <button type="submit" @click="isOpenPrice = !isOpenPrice" class="search__extra_btn btn">Добавить цену</button>
                </div>

                <div v-if="isOpenArea && !isSearchByText" class="search__extra search__extra_area">
                    <button type="submit" @click="isOpenArea = !isOpenArea" class="search__extra_btn btn">Добавить цену</button>
                    <input 
                        type="text"
                        placeholder="От" 
                        v-model="area.from" 
                        class="search__extra_input input">
                    <input 
                        type="text"
                        placeholder="До" 
                        v-model="area.to" 
                        class="search__extra_input input">
                   <span class="search__extra_hint">м²</span>  
                </div>
            </form>
        </div>
        <div class="search_control">
            <div class="switch">
                <input id="radio-a" type="radio" v-model="isSearchByText" :value="false"/>
                <label for="radio-a">Основной поиск</label>
                <span class="toggle-outside">
                    <span class="toggle-inside"></span>
                </span>
                <input id="radio-b" type="radio" v-model="isSearchByText" :value="true"/>
                <label for="radio-b">Искать по названию</label>
            </div>
            <div v-if="!isSearchByText" class="other">
                <span @click="isOpenPrice = !isOpenPrice" :class="{open: isOpenPrice}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.13 512.13">
                        <path fill="#506981" d="M256.065 0C114.43 0 0 114.298 0 256.065S114.298 512.13 256.065 512.13 512.13 397.832 512.13 256.065 397.702 0 256.065 0zm0 477.892c-122.9 0-221.828-98.937-221.828-221.828S133.175 34.236 256.065 34.236s221.828 98.937 221.828 221.828-98.937 221.828-221.828 221.828zm122.892-122.9l-98.937-98.937 98.937-98.937c6.768-6.9 6.768-17.184-.001-23.953s-17.054-6.77-23.953 0l-98.937 98.937-98.937-98.937c-6.77-6.77-17.054-6.77-23.953 0-6.77 6.77-6.77 17.053 0 23.953l98.937 98.937-98.936 98.937c-6.77 6.77-6.77 17.053 0 23.953 3.385 3.385 6.77 5.077 11.977 5.077 5.077 0 8.592-1.692 11.977-5.077l98.937-98.937 98.937 98.937c3.385 3.385 6.77 5.077 11.977 5.077 3.385 0 8.592-1.692 11.977-5.077 6.767-6.77 6.767-17.052-.002-23.953z"/>
                    </svg>
                    Цена
                </span>
                <span @click="isOpenArea = !isOpenArea" :class="{open: isOpenArea}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.13 512.13">
                        <path fill="#506981" d="M256.065 0C114.43 0 0 114.298 0 256.065S114.298 512.13 256.065 512.13 512.13 397.832 512.13 256.065 397.702 0 256.065 0zm0 477.892c-122.9 0-221.828-98.937-221.828-221.828S133.175 34.236 256.065 34.236s221.828 98.937 221.828 221.828-98.937 221.828-221.828 221.828zm122.892-122.9l-98.937-98.937 98.937-98.937c6.768-6.9 6.768-17.184-.001-23.953s-17.054-6.77-23.953 0l-98.937 98.937-98.937-98.937c-6.77-6.77-17.054-6.77-23.953 0-6.77 6.77-6.77 17.053 0 23.953l98.937 98.937-98.936 98.937c-6.77 6.77-6.77 17.053 0 23.953 3.385 3.385 6.77 5.077 11.977 5.077 5.077 0 8.592-1.692 11.977-5.077l98.937-98.937 98.937 98.937c3.385 3.385 6.77 5.077 11.977 5.077 3.385 0 8.592-1.692 11.977-5.077 6.767-6.77 6.767-17.052-.002-23.953z"/>
                    </svg>
                    Метраж
                </span>
            </div>   
        </div>
    </div>
</template>

<script>
export default {
    name: 'SearchPanel',
    data: () => {
        return {
            selected_city: 'moscow',
            options_city: [
                    { text: 'Москва', value: 'moscow' },
                    { text: 'Санкт-Петербург', value: 'spb' },
                    { text: 'Воронеж', value: 'voronezh' },
                    { text: 'Волгоград', value: 'volgograd' }
            ],
            selected_action: 'buy',
            options_action: [
                    { text: 'Купить', value: 'buy' },
                    { text: 'Снять', value: 'rent' }
            ],
            selected_realty: 'office',
            options_realty: [
                    { text: 'Офис', value: 'office' },
                    { text: 'Здание', value: 'commercial' },
                    { text: 'Торговое помещение', value: 'rent' },
                    { text: 'Квартира', value: 'flat' },
                    { text: 'Апартаменты', value: 'apartment' },
                    { text: 'Дом', value: 'house' }
            ],
            input_serch: '',
            price: {
                from: '',
                to: ''
            },
            selected_price: 'rur',
            options_price: [
                    { text: '₽/мес', value: 'rur' },
                    { text: '$/мес', value: 'usd' },
                    { text: '€/мес', value: 'eur' },
            ],
            area: {
                from: '',
                to: ''
            },
            isSearchByText: true,
            isOpenPrice: false,
            isOpenArea: false
        }
    },
    methods: {
        search()  {
            const query = {
                city: this.selected_city,
                action: this.selected_action,
                realty: this.selected_realty,
                price: this.selected_price,
                price_from: this.price.from,
                price_to: this.price.to,
                area_from: this.area.from,
                area_to: this.area.to,
                text_search: this.input_serch
            }
            console.log(query)
        }
    }
}
</script>

<style lang="scss" scoped>
    @function rem($num) {
        $strip-unit: $num / ($num * 0 + 1);
        @return $strip-unit / 16 * 1rem;
    }
    // больше указанной величины (по умолчанию ширина)
    @mixin above($width, $orientation: 'width') {
        @media screen and (min-#{$orientation}: $width) {
            @content;
        }
    }
    $break_xs: rem(414);
    $break_sm: rem(768);
    $break_md: rem(992);
    $break_lg: rem(1180);

    $green: #5e9969;
    $green_hover: #64b774;
    $dark_blue: #506981;

    .select{
        width: 100%;
        height: rem(44);
        border: none;
        outline: none;
        padding: 0 rem(20);
        font-family: inherit;
        font-size: rem(18);
        color: #333333;
        flex-grow: 1;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%2363758c' fill-rule='evenodd' class='cls-1' d='M8,0L4.141,6.993,0.012,0.156Z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right rem(20) center;
    }

    .input{
        width: 100%;
        height: rem(44);
        border: none;
        outline: none;
        padding: 0 rem(20);
        font-family: inherit;
        font-size: rem(18);
        color: #333333;
        flex-grow: 1;
        box-sizing: border-box;
    }

    .btn{
        font-family: inherit;
        height: rem(44);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .search{
        &_general{
            background: rgb(131,179,229);
            background: linear-gradient(90deg, rgba(131,179,229,1) 50%, rgba(168,213,233,1) 100%);
            padding: rem(36) rem(20);
        }
        &_control{
            background-color: #e6f2fe;
            padding: rem(10) rem(20);
            display: flex;
            flex-direction: column;
            align-items: center;

            div:last-child{
                margin-top: rem(16);
                @include above($break_sm) {
                    margin-top: 0;
                }
            }

            @include above($break_sm) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
        &__form{ 
            &_wrapper{
                display: flex;
                flex-wrap: wrap;

                @include above($break_sm) {
                    flex-wrap: nowrap;
                }
            }
            &_select{
                border-radius: rem(5);
                margin-bottom: rem(8);

                @include above($break_sm) {
                    border-radius: 0;
                    margin-bottom: 0;
                    &:first-child{
                        border-top-left-radius: rem(5);
                        border-bottom-left-radius: rem(5);
                    }
                    &:not(:first-child){
                        border-left: solid rem(1) #a3c6e8;
                    }
                }

            }
            &_input{
                border-radius: rem(5);
                margin-bottom: rem(8);
                
                @include above($break_sm) {
                    margin-bottom: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
            &_btn{
                width: 100%;
                background-color: $green;
                color: white;
                font-size: rem(20);
                border-radius: rem(5);
                flex-shrink: 0;
                transition: background-color .2s ease-in;

                &:hover{
                    background-color: $green_hover;
                }

                @include above($break_sm) {
                    width: rem(130);
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
        &__extra{
            display: flex;
            flex-wrap: wrap;
            margin-top: rem(28);

            @include above($break_sm) {
                flex-wrap: nowrap;
            }

            &_select{
                border-top-right-radius: rem(5);
                border-bottom-right-radius: rem(5);
                border-left: solid rem(1) #a3c6e8;
                width: calc(100% / 3);
                margin-bottom: rem(8);
                @include above($break_sm) {
                    width: 100%;
                    margin-bottom: 0;
                }
            }
            &_input{

                width: calc(100% / 3);
                margin-bottom: rem(8);
                @include above($break_sm) {
                    width: 100%;
                    margin-bottom: 0;
                }

                &:not(:last-child){
                    border-left: solid rem(1) #a3c6e8;
                }
            }
            &_btn{
                font-size: rem(18);
                color: $dark_blue;
                background: initial;
                border: solid rem(1) $dark_blue;
                border-radius: rem(5);
                flex-shrink: 0;
            }
            &_price{
                .btn{
                    width: 100%;
                    @include above($break_sm) {
                        margin-left: rem(20);
                        width: 40%;
                    }
                }

                .input{
                    &:first-of-type{
                        border-top-left-radius: rem(5);
                        border-bottom-left-radius: rem(5);
                    }
                }
            }
            &_area{
                .btn{
                    width: 100%;
                    order: 1;
                    @include above($break_sm) {
                        order: 0;
                        margin-right: rem(20);
                        width: calc(60% - 20px);
                    }
                }
                .input{
                    &:first-of-type{
                        border-top-left-radius: rem(5);
                        border-bottom-left-radius: rem(5);
                    }
                }
            }
            &_hint{
                height: rem(44);
                width: rem(54);
                background-color: #c2e3f2;
                border-top-right-radius: rem(5);
                border-bottom-right-radius: rem(5);
                font-size: rem(18);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }
        }
    }

    

    .switch {
        position: relative;
        display: flex;
        align-items: center;
        input {
            position: absolute;
            top: 0;
            z-index: 2;
            opacity: 0;
            height: rem(22);
            width: rem(40);
            left: rem(126);
            margin: 0;
            cursor: pointer;

            &:checked {
                z-index: 1;

                & + label {
                    opacity: 0.6;
                    border: none;
                    cursor: default;
                }
            }

            &:not(:checked) + label:hover {
                opacity: 0.5;
            }

            &:checked ~ .toggle-outside .toggle-inside {
                left: rem(2);
            }

            & ~ input:checked ~ .toggle-outside .toggle-inside {
                right: rem(2);
                left: auto;
            }
        }

        label {
            transition: opacity 0.25s ease;
            font-size: rem(16);
            line-height: 1;
            color: $dark_blue;
            display: inline-block;
            margin: 0;
            text-align: center;
            cursor: pointer;

            @include above($break_sm) {
                border-bottom: dotted rem(1) $dark_blue;
            }
        }

        .toggle-outside {
            height: rem(22);
            width: rem(40);
            box-sizing: border-box;
            border-radius: rem(16);
            padding: rem(2);
            margin: 0 rem(12);
            overflow: hidden;
            transition: 0.25s ease all;
            background: $green;
            position: relative;
        }
        .toggle-inside {
            border-radius: 50%;
            background: white;
            box-shadow: 0 rem(2) rem(5) #000000b5;
            position: absolute;
            transition: 0.25s ease all;
            height: rem(18);
            width: rem(18);
        }
    }

    .other{
        display: flex;
        span{
            font-size: rem(16);
            display: flex;
            align-items: center;
            cursor: pointer;
            &.open{
                opacity: 0.6;
                svg{
                    transform: rotate(0);
                }
            }
            &:not(:last-child){
                margin-right: rem(22);
            }
            svg{
                width: rem(16);
                height: rem(16);
                margin-right: rem(8);
                transform: rotate(45deg);
            }
        }
    }
</style>
