<template>
  <div id="app">
        <SearchPanel />
  </div>
</template>

<script>
import SearchPanel from './components/SearchPanel.vue'

export default {
  name: 'App',
  components: {
    SearchPanel
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

#app {
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
